@model MovieSite.Areas.Admin.Models.ClientViewModel
@{
    ViewData["Title"] = "ClientProfile";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div style="padding:50px;color:black;font-size:20px">
    @using (Html.BeginForm("ClientProfile", "Client", FormMethod.Post))
    {

        <div style="margin-bottom: 50px;">
            <label style="display: inline-block; width: 200px;">Adı:</label>
            @Html.TextBoxFor(x => x.user.FirstName, new { @type = "text", style = "width:50%;height:50px; border-radius: 10px; background-color: #C0C0C0; color: black; padding: 5px;border:none;" })
        </div>
        <div style="margin-bottom: 50px;">
            <label style="display: inline-block; width: 200px;">Soyadı:</label>
            @Html.TextBoxFor(x => x.user.LastName, new { @type = "text", style = "width:50%;height:50px; border-radius: 10px; background-color: #C0C0C0; color: black; padding: 5px;border:none;" })
        </div>
        <div style="margin-bottom: 50px;">
            <label style="display: inline-block; width: 200px;">Kullanıcı Adı:</label>
            @Html.TextBoxFor(x => x.user.Username, new { @type = "text", style = "width:50%;height:50px; border-radius: 10px; background-color: #C0C0C0; color: black; padding: 5px;border:none;" })
        </div>
        <div style="margin-bottom: 50px;">
            <label style="display: inline-block; width: 200px;">Email Adresi:</label>
            @Html.TextBoxFor(x => x.user.Email, new { @type = "text", style = "width:50%;height:50px; border-radius: 10px; background-color: #C0C0C0; color:black; padding: 5px;border:none;", @readonly = "" })
        </div>
        <div style="margin-bottom: 50px;">
            <label style="display: inline-block; width: 200px;">Kullanıcı Rolü:</label>
            @Html.DropDownListFor(x => x.user.RoleID, (List<SelectListItem>)ViewBag.cv, new { @type = "text", style = "width:50%;height:50px; border-radius: 10px; background-color: #C0C0C0; color:black; padding: 5px;border:none;" })
        </div>

        <div style="display: flex; gap: 10px;">
            <button type="submit" class="btn btn-success">Kaydet</button>

            @using (Html.BeginForm("DeleteClientProfile", "Client", FormMethod.Post))
            {
                <input type="hidden" name="userID" value="@Model.userID" />
                <button type="submit" class="btn btn-danger">Sil</button>
            }
        </div>
    }

    <button type="submit" class="btn btn-secondary" style="margin-top:10px"><a href="~/Admin/Client/GetComment?id=@Model.userID" style="color: white; text-decoration: none;">Yorumları Görüntüle</a></button>


</div>

</div>
