@model MovieSite.Areas.Admin.Models.ClientViewModel
@{
    ViewData["Title"] = "DontSub";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>NETCHINA | Clients</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>




    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Clients</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                    App Views
                </li>
                <li class="breadcrumb-item active">
                    <strong>Contacts</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            @foreach (var item in Model.users)
            {
                <div class="col-lg-4">

                    <div class="contact-box">
                        <a class="row" href="~/Admin/Client/ClientProfile?userID=@item.UserID">
                            <div class="col-4">
                                <div class="text-center">
                                    <img alt="image" class="rounded-circle m-t-xs img-fluid" src="@item.Avatar">
                                    <div class="m-t-xs font-bold">Üye Değil</div>
                                </div>
                            </div>
                            <div class="col-8">
                                <h3><strong>@item.FirstName @item.LastName</strong></h3>
                                <p> @item.Email</p>
                                <address>
                                    <strong>@item.Username</strong><br>
                                   Üyeliği Bulunmamaktadır.<br>
                                 
                                </address>
                            </div>
                        </a>
                    </div>
                </div>
            }

        </div>

    </div>



</body>

</html>



