@model MovieListModel
@{
    ViewData["Title"] = "GenrePage";
    Layout = "~/Views/Shared/LogPage.cshtml";
}

<style>

    .pagination {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

        .pagination a {
            padding: 10px 15px;
            background-color: #333;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

            .pagination a.current-page {
                background-color: #555;
                font-weight: bold;
            }

            .pagination a:hover {
                background-color: #777;
            }


    .movie-list-wrapperr {
        padding: 90px 0 0 120px;
        margin-bottom:100px;
    }

    .movie-listt {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
    }

    .movie-list-itemm {
        position: relative;
    }

        .movie-list-item:hover .movie-list-item-img {
            transform: scale(1.1);
            margin: 0 5px;
            opacity: 0.5;
        }

        .movie-list-item:hover .movie-list-item-title {
            opacity: 1;
            transition: all 0.8s ease-in-out;
            transform: scale(1.1);
        }

    .movie-list-item-img {
        transition: all 0.6s ease-in-out;
        height: 200px;
        border-radius: 10px;
        object-fit: cover;
    }

    .movie-list-item-title {
        padding: 10px;
        font-size: 20px;
        position: absolute;
        bottom: 1%;
        left: 30px;
        opacity: 0.8;
        font-weight: bold;
        color: white;
    }
</style>
<div class="movie-list-wrapperr">
    <h2 style="color:white">@Model.genre.GenreName</h2>
    <div class="movie-listt">
        @foreach (var item in Model.Movies)
        {
            <div>
                <div class="movie-list-itemm" values="@item.MovieID">
                    <a href="/WatchMovie/Index?UserID=@Model.userID&MovieID=@item.MovieID">
                        <img class="movie-list-item-img" src="@item.Image" alt="@item.Name">
                        <p class="movie-list-item-title">@item.Name</p>
                    </a>
                </div>
            </div>
        }
    </div>

    <div class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <a href="@Url.Action("GenrePage", new { id = Model.genre.GenreID, userID = Model.userID, page = Model.CurrentPage - 1 })">Previous</a>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a href="@Url.Action("GenrePage", new { id = Model.genre.GenreID, userID = Model.userID, page = i })" @(i == Model.CurrentPage ? "class='current-page'" : "")>@i</a>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <a href="@Url.Action("GenrePage", new { id = Model.genre.GenreID, userID = Model.userID, page = Model.CurrentPage + 1 })">Next</a>
        }
    </div>
</div>